html, body {
  height: 100%;
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family:  'Inter';
}

.header {
  display: flex;
  width: 100%;
  background-color: #F55A5A;
  align-items: center;
  justify-content: center;
  height: 3.467em;
}

.header > img {
  width: 1.5em;
  margin: 0.6em;
}

.header > p {
  font-size: 0.9em;
  color: #fff;
}

.entry-container {
  display: grid;
  place-items: center;
}

.entry {
  margin: 40px;
  display: flex;
  height: 168px;
  width: 29.375em;
}

.entry .img-container {
  width: 35%;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
}

.entry .img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entry .content {
  display: block;
  align-items: center;
  margin-left: 20px;
}

.entry .content .place-info {
  display: flex;
  align-items: center;
}

.entry .content .place-info > img {
  margin-right: 5px;
  width: 0.4em;
}

.entry .content .place-info > p {
  margin: 5px 0px;
}

.entry .content .place-info > a {
  color: #918E9B;
  margin: 0 10px;
}

.entry .content > h1 {
  font-size: 25px;
  margin: 0.3125em 0;
}

.entry .place-date {
  font-size: 10.24px;
}

.entry .place-desc {
  font-size: 10.24px;

}
